:root{
    --shadowcolor: #210115;
    --backcolor: #0063c8;
    --iconcolor:#210115;
}
.side-navbar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-60px);
  width: 50px;
  background-color: #1e0e24;
  padding: 10px 0;
  border-radius: 0 8px 8px 0;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  /* transition: transform 0.4s ease, opacity 0.4s ease; */
  transition: color 0.3s, background-color 0.3s, transform 0.3s, box-shadow 0.3s; 

  opacity: 0;
}

.side-navbar.visible {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
}

.side-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.side-navbar li {
  position: relative;
  width: 100%;
}

.side-navbar a {
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  transition: color 0.3s, background-color 0.3s;
}

.side-navbar li.active-li a {
  color: #0d8828;
  background-color: var(--backcolor);
  border-radius: 0 8px 8px 0;
}
.side-navbar li.active-li a {
  color: var(--iconcolor);
  background-color: var(--backcolor);
  border-radius: 0 8px 8px 0;
  animation: glowPulse 3s infinite ease-in-out; /* Pulsierendes Glow */
}
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 6px var(--shadowcolor);
    transform: scale(1.15);
  }
  50% {
    box-shadow: 0 0 10px var(--shadowcolor);
    transform: scale(1.25);
  }
  100% {
    box-shadow: 0 0 6px var(--shadowcolor);
    transform: scale(1.15);
  }
}
.side-navbar a:hover {
  transform: scale(1.3);
  box-shadow: 0 0 10px var(--shadowcolor);
  color: var(--backcolor);
}
