*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#200016 50%,#490786 65% ,#4104b3 80%, #200016 100%) ;
    /* height: 100vh;  */
    background-repeat:round;
background-size: cover; /* oder 100% 100% */
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a{
    text-decoration: none;
    color: #fff;
}
.header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    z-index: 1000; 
    
}
.header 
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header ul li{
    margin: 20px;
}
.header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
}
.header ul li a:hover {
    background: #fff;
    color: #9506f5;
}
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,#200016,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(100px);
}

.ahmad {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    transform: translateY(-150px);
}

