.section {
  padding: 40px;
  background-color: transparent;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.skill {
  text-align: left;
}

.skillName {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #444;
}

.progressBar {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #3b82f6; /* blau */
  border-radius: 10px 0 0 10px;
  transition: width 2s ease-in-out;
}
