.about-container {
  max-width: 700px;
  margin: 40px auto;
  text-align: left;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #222;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button-group button {
  padding: 8px 16px;
  border: none;
  background-color: #0077ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button-group button:hover {
  background-color: #005fcc;
}

.about-text {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  /* transition: opacity 0.3s ease;
  opacity: 1; */
}
.about-text.fade {
  opacity: 0;
}
.rtl {
  direction: rtl;
  text-align: right;
  font-family: "Amiri", serif; /* schöner für Arabisch */
}
.button-group button.active {
  background-color: #200016;
  color: white;
  border-radius: 8px;
  transform: scale(1.05);
  border: 1px solid #fff;
}
.about-text.rtl {
  direction: rtl;
  text-align: right;
}

