.section {
  padding: 40px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2rem;
}

.text {
  font-size: 1.2rem;
}
