.section {
  padding: 50px 20px;
  background-color: transparent;
  text-align: center;
   
}

.heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #aaa;
}

.contactLink {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #3b82f6;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.3s;
}

.contactLink:hover {
  background-color: #2563eb;
  transform: translateY(-2px);
}
